* {
  margin: 0;
  padding: 0;
}
.workspace {
  position: relative;
  background: #eee;
  left: 100px;
  top: 2000px;
}
.auxiliary-line-wrapper {
  pointer-events: none;
}
.auxiliary-line {
  cursor: pointer;
}
.auxiliary-line::after {
  content: '';
  display: block;
  background: #f00;
  position: absolute;
  left: 0;
  top: 0;
}
.auxiliary-line::before {
  position: absolute;
  left: 0;
  top: 0;
}
.auxiliary-line.vertical::after {
  width: 1px;
  height: 100%;
  left: 2px;
}
.auxiliary-line.horizontal::after {
  width: 100%;
  height: 1px;
  top: 2px;
}
.dragarea {
  cursor: move;
}
.item {
  position: absolute;
  top: 100px;
  left: 100px;
}
